html,
body {
  padding: 0px;
  margin: 0px;
  /* background: #677;
   */
  background: var(--bg);
  font-family: "Overpass Mono", system-ui;

  color: #FFF;
}

.c-card {
  border-radius: 0.8rem;
  background: var(--surface);
  width: 100%;
  margin-bottom: 1.6rem;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.12);
}

html {
  --black: #000000;
  --white: #ffffff;
  --darkest: #101010;
  --darker: #16171A;
  --dark: #A3AFBF;
  --medium: #DFE7EF;
  --light: #CAD4E1;
  --lighter: #F5F8FC;
  --lightest: var(--white);
  --primary: #7B16FF;
  --primary-light: #DDD9FF;
  --primary-trans: rgba(123, 22, 255, 0.4);
  --yellow: #FDCB6E;
  --orange: #E17055;
  --teal: #00CEC9;
  --bg: var(--darkest);
  --color: var(--lightest);
  --surface: var(--darker);
}

.display {
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.c-header {
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  position: relative;
}

.c-header:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0.2rem;
  background: var(--primary-trans);
}

.title {
  text-decoration: none;
}

body * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

.note {
  text-align: center;
  margin: 20px 0px;
}

.note a {
  color: white;
}

.main {
  display: flex;
  /* width: 50vw; */
  /* align-self: center; */
  /* margin: 2rem; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50vw;
}

/* .container {

  /* display: flex; */
/* margin: auto; */
/* max-width: 300px;
  height: 400px;
  margin: auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column; */
/* } */

.header {
  height: 10px;
  background: #94f;
  box-shadow: 60px 0px 0px #94f, 180px 0px 0px #94f, 120px 0px 0px #94f, 240px 0px 0px #94f width: 20%;
}

.search {
  display: flex;
  height: 40px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
}

.search .input {
  flex: 1;
}

.search .input input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 0px 10px;
}

.search .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #FFF;
}

.search .icon i {
  line-height: 40px;
  color: #333;
}

.search .results {
  position: absolute;
  bottom: -24px;
  right: 0px;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  border-radius: 0px 0px 0px 4px;
  font-size: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.display {
  flex: 1;
  background: #94f;
  border-ra: ;
  overflow-y: auto;
}

.display .item {
  height: 80px;
  max-height: 80px;
  overflow: hidden;
  opacity: 1;
  background: rgba(0, 0, 0, 0.25);
  padding: 10px;
  animation: opacitize 0.75s;
  transition: all 0.75s;
}

.display .item .title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none !important;

}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}


.display .item .title:link {
  /* text-decoration: none; */


}

.display .item .description {
  opacity: 0.9;
  font-size: 14px;
  text-align: center;

}

.display .item.hide {
  max-height: 0px;
  opacity: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

.display .item a {
  color: #FFF;
  text-decoration: none;
}



@media (max-width:500px) {
  main {

    font-size: larger !important;
  }

  .title {
    font-size: larger !important;
  }

  .description {
    font-size: larger !important;

  }

  .container {
    width: 50vw;

  }

}